/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icons {
  @apply border-2 border-transparent md:p-9 text-white md:rounded-full md:h-5 md:w-5 md:flex md:items-center md:justify-center transition-all ease-out duration-1000 hover:shadow-xl;
}

